{% extends "layout.html" %}

{% block title%}{{REPORT_TITLE}} &bull; {{DATE_INI|datetimeformat('%Y-%m-%d %H:%M:%S', '%Y-%m-%d')}}~{{DATE_END|datetimeformat('%Y-%m-%d %H:%M:%S', '%Y-%m-%d')}}{% endblock%}

{% include 'khan/report_header.html' %}

{% block content %}
<div id="main" class='container'>

{% for chart in CHARTS %}
    <article>
        <h3>{{chart.title}}</h3>
        <img src="{{chart.img_src}}" title="{{chart.title}}" width="100%" />
    </article>
{% endfor %}

{% for table in TABLES %}
    <article>
        <h3>{{table.title}}</h3>
         <div>
        	<h4>Resumo</h4>
        	{{table.meta}}
        </div>
        <div>
                <h4>Turmas</h4>
        	{{table.html}}
        </div>
   </article>
{% endfor %}

</div>
{%endblock%}
