{% extends "layout.html" %}

<!-- Relatório do Khan - 2016-07-01~2016-08-01 -->
{% block title%}{{REPORT_NAME}} &bull; {{DATE_INI}}~{{DATE_END}}{% endblock%}

{% block header %}{% endblock %}

{% block content %}
<div id="main" class='container'>

{% for chart in charts %}
    <article>
        <h3>{{chart.title}}</h3>
        <img src="{{chart.src}}" title="{{chart.title}}" width="{{chart.width}}" height="{{chart.height}}" />
    </article>
{% endfor %}

{% for table in tables %}
    <article>
        <h3>{{table.title}}</h3>
        <div>
        	{{table.html}}
        </div>
        <div>
        	<h4>somas</h4>
        	{{table.meta}}
        </div>
    </article>
{% endfor %}

</div>
{%endblock%}