<div id="header" class='container'>
    <header>
        <div class="row">
            <div class="col-md-5">
                <div class="col-md-4">
                    <div>Formador</div>
                </div>

                <div class="col-md-4">
                    <span class="content">{{ former.name }}</span>
                </div>
                
            </div>
            <div class="col-md-5">
                <div class="col-md-4">
                    <div>Email</div>
                </div>

                <div class="col-md-4">
                    <span class="content">{{ former.email }}</span>
                </div>
            </div>
        </div>
    </header>
</div>
